.logo img:hover {
    animation-name: bounce;
    animation-duration: 1s;
}

.footer span:hover, .footer img:hover {
    animation-name: pulse;
    animation-duration: 0.9s;
    border: 1px dotted white;
}

.full-size {
    width: 100%;
}

.p-table {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

.trans {
    background-color: transparent;
    border: 0
}

.tab-content{
    padding: 25px 0
}

.nav-item a text{
    margin-left:10px;
}

.nav-item{
    width: 80px
}